<?xml version='1.0' encoding='utf-8'?>
<!--
~ Hibernate, Relational Persistence for Idiomatic Java
~
~ Copyright (c) 2010, Red Hat Inc. or third-party contributors as
~ indicated by the @author tags or express copyright attribution
~ statements applied by the authors.  All third-party contributions are
~ distributed under license by Red Hat Inc.
~
~ This copyrighted material is made available to anyone wishing to use, modify,
~ copy, or redistribute it subject to the terms and conditions of the GNU
~ Lesser General Public License, as published by the Free Software Foundation.
~
~ This program is distributed in the hope that it will be useful,
~ but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
~ or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License
~ for more details.
~
~ You should have received a copy of the GNU Lesser General Public License
~ along with this distribution; if not, write to:
~ Free Software Foundation, Inc.
~ 51 Franklin Street, Fifth Floor
~ Boston, MA  02110-1301  USA
-->
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql:/127.3.214.2:3306/sustord</property>
        <property name="hibernate.connection.username">adminA1k8pBf</property>
        <property name="hibernate.connection.password">qZvnWqvPuV6E</property>
        
        <!-- Database connection settings 
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/sustord</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">1234</property>-->

        <!-- JDBC connection pool (use the built-in) -->
        <property name="hibernate.c3p0.acquire_increment">1</property>
        <property name="hibernate.c3p0.idle_test_period">100</property>
        <property name="hibernate.c3p0.max_size">10</property>
        <property name="hibernate.c3p0.max_statements">10</property>
        <property name="hibernate.c3p0.min_size">10</property>
        <property name="hibernate.c3p0.timeout">100</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>
        
        <!-- Names the annotated entity class -->
        <mapping class="me.shafin.sustord.entity.StudentBatch"/>
        <mapping class="me.shafin.sustord.entity.PersonalInfo"/>
        <mapping class="me.shafin.sustord.entity.AdminDashboardCourseRegistration"/>
        <mapping class="me.shafin.sustord.entity.Department"/>
        <mapping class="me.shafin.sustord.entity.ClassRoutine"/>
        <mapping class="me.shafin.sustord.entity.Syllabus"/>
        <mapping class="me.shafin.sustord.entity.Course"/>
        <mapping class="me.shafin.sustord.entity.AdminDashboardProfile"/>
        <mapping class="me.shafin.sustord.entity.TimeSlot"/>
        <mapping class="me.shafin.sustord.entity.Degree"/>
        <mapping class="me.shafin.sustord.entity.CourseRegistration"/>
        <mapping class="me.shafin.sustord.entity.Prerequisite"/>
        <mapping class="me.shafin.sustord.entity.School"/>
        <mapping class="me.shafin.sustord.entity.DegreeOffered"/>
        <mapping class="me.shafin.sustord.entity.AdminInfo"/>
        <mapping class="me.shafin.sustord.entity.StudentInfo"/>

    </session-factory>

</hibernate-configuration>
