<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    
    <session-factory>
        <!-- Database connection settings-->       
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://127.3.214.2:3306/sustord?autoReconnect=true</property>
        <property name="hibernate.connection.username">adminA1k8pBf</property>
        <property name="hibernate.connection.password">qZvnWqvPuV6E</property>
        
        <!-- Database connection
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/sustord</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">1234</property>-->
        
        
        <!-- configuration pool via c3p0-->   
        <property name="hibernate.c3p0.acquire_increment">1</property>   
        <property name="hibernate.c3p0.idle_test_period">10</property> <!-- seconds -->   
        <property name="hibernate.c3p0.max_size">100</property>   
        <property name="hibernate.c3p0.max_statements">10</property>   
        <property name="hibernate.c3p0.min_size">1</property>   
        <property name="hibernate.c3p0.timeout">3600</property> <!-- seconds -->  

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>
        
        <!-- Names the annotated entity class -->
        <mapping class="me.shafin.sustord.model.StudentBatch"/>
        <mapping class="me.shafin.sustord.model.PersonalInfo"/>
        <mapping class="me.shafin.sustord.model.AdminDashboardCourseRegistration"/>
        <mapping class="me.shafin.sustord.model.Department"/>
        <mapping class="me.shafin.sustord.model.ClassRoutine"/>
        <mapping class="me.shafin.sustord.model.Syllabus"/>
        <mapping class="me.shafin.sustord.model.Course"/>
        <mapping class="me.shafin.sustord.model.AdminDashboardProfile"/>
        <mapping class="me.shafin.sustord.model.TimeSlot"/>
        <mapping class="me.shafin.sustord.model.Degree"/>
        <mapping class="me.shafin.sustord.model.CourseRegistration"/>
        <mapping class="me.shafin.sustord.model.Prerequisite"/>
        <mapping class="me.shafin.sustord.model.School"/>
        <mapping class="me.shafin.sustord.model.DegreeOffered"/>
        <mapping class="me.shafin.sustord.model.AdminInfo"/>
        <mapping class="me.shafin.sustord.model.StudentInfo"/>

    </session-factory>

</hibernate-configuration>
