<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    
    <session-factory>    
        <!-- Database connection -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/shafin_sustord0</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">SUSTcse</property> 
        
        <!-- configuration pool via c3p0-->  
        <property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property> 
        <property name="hibernate.c3p0.acquire_increment">1</property> 
        <!-- Minimum number of JDBC connections in the pool. Hibernate default: 1 -->  
        <property name="hibernate.c3p0.min_size">1</property>   
        <!-- Maximum number of JDBC connections in the pool. Hibernate default: 100 -->
        <property name="hibernate.c3p0.max_size">100</property>  
        <!-- Number of prepared statements will be cached. Increase performance. Hibernate default: 0 , caching is disable. --> 
        <property name="hibernate.c3p0.max_statements">10</property>   
        <!--  When an idle connection is removed from the pool (in second). Hibernate default: 0, never expire.--> 
        <property name="hibernate.c3p0.timeout">60</property> <!-- seconds -->  
        
        <!--  Connection testing settings 
        <property name="hibernate.c3p0.validate">true</property>
        <property name="hibernate.c3p0.idle_test_period">30</property>  seconds
        <property name="hibernate.c3p0.preferredTestQuery">SELECT 1;</property> 
        <property name="hibernate.c3p0.testConnectionOnCheckout">true</property>-->

        
        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property>
        
        <!-- Names the annotated entity class 
        <mapping class="sm.sustord.model.StudentBatch"/>-->


    </session-factory>

</hibernate-configuration>
