<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="false" version="3.0" 
         xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>AccessFilter</filter-name>
        <filter-class>me.shafin.sustord.filter.AccessFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AccessFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>me.shafin.sustord.servlet.LogOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>me.shafin.sustord.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavePersonalInfoServlet</servlet-name>
        <servlet-class>me.shafin.sustord.servlet.SavePersonalInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SyllabusServlet</servlet-name>
        <servlet-class>me.shafin.sustord.servlet.SyllabusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseRegServlet</servlet-name>
        <servlet-class>me.shafin.sustord.servlet.CourseRegServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultUpdateServlet</servlet-name>
        <servlet-class>me.shafin.sustord.servlet.ResultUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveResultUpdateServlet</servlet-name>
        <servlet-class>me.shafin.sustord.servlet.SaveResultUpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadHandler</servlet-name>
        <servlet-class>me.shafin.sustord.servlet.FileUploadHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseDetailsServlet</servlet-name>
        <servlet-class>me.shafin.sustord.servlet.CourseDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCurrentSemester</servlet-name>
        <servlet-class>me.shafin.sustord.servlet.GetCurrentSemester</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SemesterStatServlet</servlet-name>
        <servlet-class>me.shafin.sustord.servlet.SemesterStatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>me.shafin.sustord.servlet.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavePersonalInfoServlet</servlet-name>
        <url-pattern>/SavePersonalInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SyllabusServlet</servlet-name>
        <url-pattern>/SyllabusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseRegServlet</servlet-name>
        <url-pattern>/CourseRegServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultUpdateServlet</servlet-name>
        <url-pattern>/ResultUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveResultUpdateServlet</servlet-name>
        <url-pattern>/SaveResultUpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadHandler</servlet-name>
        <url-pattern>/FileUploadHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseDetailsServlet</servlet-name>
        <url-pattern>/CourseDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCurrentSemester</servlet-name>
        <url-pattern>/GetCurrentSemester</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SemesterStatServlet</servlet-name>
        <url-pattern>/SemesterStatServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
</web-app>
