<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="row" th:fragment="brandlogo">
		<div class="col-sm-3 col-xs-12 text-center">
			<img src="../resources/images/sust-logo.jpg" 
			th:src="@{/resources/images/sust-logo.jpg}" height="92"
			alt="sust-logo"></img>
		</div>
		<div class="col-sm-9 col-xs-12">
			<blockquote>
				<p class="sust_title">SHAHJALAL UNIVERSITY OF SCIENCE and
					TECHNOLOGY, SYLHET</p>
				<label class="badge bg-primary" style="font-size: 16px">Online
					Result Database</label>
			</blockquote>
		</div>
	</div>
</body>
</html>