<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="edit-profile">
		<div class="margin5">
			<fieldset>
				<legend style="font-size: 22px">Personal Information</legend>

				<form id="info-form" class="form-horizontal col-sm-8" role="form">

					<div class="form-group">
						<label class="control-label col-sm-3">Registration No:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control input-sm" value=""
								readonly></input>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-3">Name:</label>
						<div class="col-sm-9">
							<input type="text" class="form-control input-sm" value=""
								readonly></input>
						</div>
					</div>

					<div id="fathername-div" class="form-group">
						<label class="control-label col-sm-3">Father's name:</label>
						<div class="col-sm-9">
							<input type="text" id="father" class="form-control input-sm"
								name="fathersname" placeholder="Your father's name" value=""></input>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-3">Mother's name:</label>
						<div class="col-sm-9">
							<input type="text" id="mother" class="form-control input-sm"
								name="mohtersname" placeholder="Your mother's name" value=""></input>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-3">Present address:</label>
						<div class="col-sm-9 form-inline">
							<ul id="a-form">
								<li><input id="present-street" style=""
									class="form-control input-sm" name="presentstreet" type="text"
									placeholder="house/street" value=""></input> <input
									id="present-area" style="" class="form-control input-sm"
									name="presentarea" type="text" placeholder="Area" value=""></input>
								</li>

								<li><input id="present-thana" style=""
									class="form-control input-sm" name="presentthana" type="text"
									placeholder="Thana" value="<%=presentThana%>" /></input> <input
									id="present-district" style="" class="form-control input-sm"
									name="presentdistrict" type="text" placeholder="District"
									value="" /></input></li>
								<li><select id="present-country" name="presentcountry"
									class="form-control pull-left input-sm" style="width: 45%;">
										<option value="0" style="display: none">Country</option>
										<option value="1" style="display: none">*Country</option>
										<option value="Bangladesh">Bangladesh</option>
										<option value="Others">Others</option>
								</select></li>

							</ul>

						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-3">Permanent address:</label>
						<div class="col-sm-9 form-inline">
							<ul id="a-form">
								<li><input id="permanent-street" style=""
									name="permanentstreet" class="form-control input-sm"
									type="text" placeholder="house/street" value=""></input> <input
									id="permanent-area" style="" name="permanentarea"
									class="form-control input-sm" type="text" placeholder="Area"
									value="<%=permanentArea%>"></input></li>
								<li><input id="permanent-thana" style=""
									name="permanentthana" class="form-control input-sm" type="text"
									placeholder="Thana" value="" /></input> <input id="permanent-district"
									style="" name="permanentdistrict" class="form-control input-sm"
									type="text" placeholder="District"
									value="<%=permanentDistrict%>"></input></li>
								<li><select id="permanent-country" name="permanentcountry"
									class="form-control pull-left input-sm" style="width: 45%;">
										<option value="0" style="display: none">Country</option>
										<option value="1" style="display: none">*Country</option>
										<option value="Bangladesh">Bangladesh</option>
										<option value="Others">Others</option>
								</select></li>
							</ul>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-3">Phone:</label>
						<div class="col-sm-9">
							<input id="phone" name="phone" class="form-control input-sm"
								type="tel" value=""
								placeholder="Your cell phone number ex: 01XXXXXXXXX" required></input>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-3">Email:</label>
						<div class="col-sm-9">
							<input id="email" style="" name="email"
								class="form-control input-sm" type="email" value=""
								placeholder="Your email address ex: example@domain.com"></input>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-3">Date of Birth:</label>
						<div class="col-sm-9">
							<input style="width: 190px" name="dob" id="dob"
								class="form-control input-sm" type="date" value=""
								placeholder="mm / dd / yyyy"></input>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-3">Gender:</label>
						<div class="col-sm-9">
							<select class="form-control pull-left input-sm" id="sex"
								name="sex" style="width: 190px;">
								<option value="0" style="display: none">Choose your
									gender</option>
								<option value="1" style="display: none">*Choose your
									gender</option>
								<option value="Male">Male</option>
								<option value="Female">Female</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-3">Religion:</label>
						<div class="col-sm-9">
							<select class="form-control pull-left input-sm" id="religion"
								name="religion" style="width: 190px;">
								<option value="0" style="display: none">Religion of you</option>
								<option value="1" style="display: none">*Religion of
									you</option>
								<option value="Muslim">Muslim</option>
								<option value="Hindu">Hindu</option>
								<option value="Christian">Christian</option>
								<option value="Buddhist">Buddhist</option>
								<option value="Others">Others</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-sm-3">Marital status:</label>
						<div class="col-sm-9">
							<select class="form-control pull-left input-sm"
								id="marital-status" name="maritalstatus" style="width: 190px;">
								<option value="0" style="display: none">Are you
									married?</option>
								<option value="1" style="display: none">*Are you
									married?</option>
								<option value="Single">Single</option>
								<option value="Married">Married</option>
							</select>
						</div>
					</div>


					<div class="form-group">
						<label class="control-label col-sm-3">Marital status:</label>
						<div class="col-sm-9">
							<select class="form-control pull-left input-sm" id="blood-group"
								name="bloodgroup" style="width: 160px;">
								<option value="0" style="display: none">Your Blood
									group</option>
								<option value="1" style="display: none">*Your Blood
									group</option>
								<option value="A+ve">A+ve</option>
								<option value="A-ve">A-ve</option>
								<option value="B+ve">B+ve</option>
								<option value="B-ve">B-ve</option>
								<option value="AB+ve">AB+ve</option>
								<option value="AB-ve">AB-ve</option>
								<option value="O+ve">O+ve</option>
								<option value="O-ve">O-ve</option>
							</select>
						</div>
					</div>

					<div class="form-group">
						<div>
							<div class="col-md-offset-4 col-xs-offset-1">
								<button type="submit" class="btn btn-danger col-xs-offset-0"
									id="confirm-personal">Submit</button>
								<img class="col-xs-offset-1" id="saving-anim"
									src="..\page_files\icons\empty-icon.gif" height="25"></img>
								<!--<p id="messagebox" class="alert-warning col-md-offset-4"> </p>-->
							</div>
						</div>
					</div>

				</form>
				<div class="col-lg-4">
					<img class="img-responsive"
						src="../page_files/images/profilepic/<%=photoUrl%>" alt="pic"></img>
					<!--<h4> Choose Image </h4>
                            <form action="upload" method="post" enctype="multipart/form-data">
                                <input class ="fileupload" type="file" name="file" />
                                <input type="submit" value="upload" />
                            </form>-->
				</div>
			</fieldset>
		</div>
	</div>
</body>
</html>