<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="footer" th:fragment="footer">
		<div>
			 <a href="/home" th:href="@{/home/user}">Home</a> | <a
				href="/profile" th:href="@{/profile/user}">Profile</a> | <a
				href="../Academic/Curriculum.jsp">Curriculum</a> | <a
				href="../Academic/CourseDetails.jsp">Course Details</a> | <a
				href="../Reports/GradesByCurriculum.jsp">Grade by curriculum</a> | <a
				href="../Reports/GradesBySemester.jsp">Grade by Semester</a> | <a
				href="../Statistics/SemesterAnalysis.jsp">Semester Analysis</a> | <a
				href="../Statistics/CgpaAnalysis.jsp">CGPA Analysis</a> |
		</div>
		<b>© Shahjalal University of Science &amp; Technology 2016</b>
		Developed by <a href="http://www.facebook.com/shafin.mahmud">Shafin
			Mahmud</a> |Department of CSE, SUST
	</div>
</body>
</html>