<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div id="footer">
		<div>
			<a href="../Home/HomeUser.jsp">Home</a> | <a
				href="../Home/ProfileUser.jsp">Profile</a> | <a
				href="../Academic/Curriculum.jsp">Curriculum</a> | <a
				href="../Academic/CourseDetails.jsp">Course Details</a> | <a
				href="../Reports/GradesByCurriculum.jsp">Grade by curriculum</a> | <a
				href="../Reports/GradesBySemester.jsp">Grade by Semester</a> | <a
				href="../Statistics/SemesterAnalysis.jsp">Semester Analysis</a> | <a
				href="../Statistics/CgpaAnalysis.jsp">CGPA Analysis</a> |
		</div>
		<b>© Shahjalal University of Science &amp; Technology 2016</b><br></br>
		Developed by <a href="http://www.facebook.com/shafin.mahmud">Shafin
			Mahmud</a> |Department of CSE, SUST
	</div>
</body>
</html>