<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="col-md-2 column200" th:fragment="sidebar">
		<ul class="nav nav-pills nav-stacked navigation">
			<li class="nav-header">Academic</li>
			<li><a href="">
				<span class="glyphicon glyphicon-book"></span>&nbsp;Curriculum</a>
			</li>
			<li><a href="">
				<span class="glyphicon glyphicon-th-list"></span>&nbsp;Course Details</a>
			</li>
			
			<li class="nav-header">Reports</li>
			<li><a href="">
				<span class="glyphicon glyphicon-certificate"></span>&nbsp;Grades (by Curriculum)</a>
				</li>
			<li><a href=""><span class="glyphicon glyphicon-certificate"></span>&nbsp;Grades (by Semester)</a></li>
			<li class="nav-header">Statistics</li>
			<li><a href=""><span class="glyphicon glyphicon-blackboard"></span>&nbsp;Semestern Analysis</a>
			</li>
			<li><a href=""><span class="glyphicon glyphicon-stats"></span>&nbsp;CGPA Analysis</a>
			</li>

			<li class="nav-header">Data Submission</li>

			<li><a href=""><span
				   class="glyphicon glyphicon-sort-by-attributes-alt"></span>&nbsp;Course Registration</a>
			</li>
			<li>
				<a href=""><span
					class="glyphicon glyphicon-flash"></span>&nbsp;Result Update</a>
			</li>

			<li class="nav-header">Options</li>
			<li><a href=""><span class="glyphicon glyphicon-asterisk"></span>&nbsp;Change Password</a>
			</li>
		</ul>
	</div>
</body>
</html>